<!DOCTYPE html>
<html>
  <head>
    <title>MapsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD479fUjmMLu2YRKci0AwtVdWa5GGQIpMM">
 </script>
  </body>
</html>
